@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
  /* ------------------- HEADER---------------- --> */
  .header {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner-header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-nav {
    display: none;
  }
  .main-nav {
    display: none;
  }
  /* ------------------- MODAL HEADER---------------- --> */
  .mobile-menu-item-tel {
    font-size: 36px;
    line-height: calc(40 / 36);
  }
  .social-list-item:not(:last-child) {
    margin-right: 56px;
  }
  /* ------------------ HERO ------------------------------------> */
  .hero {
    max-width: 767px;
    margin: 0 auto;
    background-image: var(--gra),
      url(../images/main-page/people-office-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gra),
        url(../images/main-page/people-office-tablet-2x.jpg);
    }
  }
  /* ----------------- Section2 ----------> */
  .section-two-conteiner {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ------------- Section3 -----------> */

  /* ------------- Section4 -----------> */
  .section-four {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner-four {
    width: 294px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ---------- Customers ----------> */
  .customers-conteiner {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ------------ FOOTER ----------> */
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner-footer {
    width: 426px;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-tablet {
    width: 428px;
  }
  /* ------------ Modal -----------> */
  .check-text {
    font-size: 12px;
    line-height: 1.33;
  }
  .modal {
    width: 392px;
    height: 607px;
  }
}
