body {
  font-family: "Roboto", sans-serif;
  color: var(--text-grey-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
:root {
  --text-grey-color: #2e2f42;
  --color-white-color: #ffffff;
  --gra: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --activ-color: #404bbf;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
li {
  list-style: none;
}
.anker {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.conteiner {
  max-width: 480px;
  margin: 0 auto;
}
.conteiner-mini {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.no-scroll {
  overflow: hidden;
}
/* -----------------HEADER */
.main-nav {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts > .link:first-child {
  margin-right: 40px;
}
.site-nav {
  display: flex;
}
.site-nav > .link {
  margin-right: 40px;
}
.site-nav > .link:last-child {
  margin-right: 0;
}
.site-nav > .link > .header-list {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.site-contacts {
  display: flex;
}
.site-contacts > .link + .link {
  margin-left: 40px;
}

.header {
  padding: 24px 0;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.conteiner-header {
  width: 100%;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-web {
  width: 44px;
  height: 22px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-grey-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.mobile-menu-open {
  top: 50%;
  left: 50%;
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-right: 25px;
}
.burger-open {
  stroke: #212121;
}
.site-nav {
  display: none;
}
.main-nav {
  display: none;
}
/*------------ MODAL HEADER ----------------*/
.mobile-menu {
  position: fixed;
  width: 100%;
  /* height: 100vh; */
  top: 0;
  left: 0;
  z-index: 1000;
  background: #ffffff;
  overflow: scroll;
  scroll-behavior: smooth;
  transform: translateX(100%);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.open-mobile-menu {
  transform: translateX(0);
}
.mobile-menu-conteiner {
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  right: 25px;
  top: 25px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic),
    border 250ms var(--cubic);
}
.mobile-menu-close-btn:is(:hover, :focus) {
  background-color: var(--activ-color);
  fill: #ffffff;
  border: none;
}
.mobile-menu-list:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-item {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms var(--cubic);
}
.mobile-menu-item:is(:hover, :focus) {
  color: #4d5ae5;
}
.mobile-menu-item-mail {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #434455;
  transition: color 250ms var(--cubic);
}
.mobile-menu-item-mail:is(:hover, :focus) {
  color: #4d5ae5;
}
.mobile-menu-item-tel {
  font-weight: 600;
  font-size: 26px;
  line-height: calc(40 / 26);
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms var(--cubic);
}
.mobile-menu-item-tel:is(:hover, :focus) {
  color: #4d5ae5;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-link {
  margin-bottom: 40px;
}
.modal-social-menu {
  display: flex;
  justify-content: start;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-item:not(:last-child) {
  margin-right: 26px;
}
.modal-social-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border: 50%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms var(--cubic);
}
.modal-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #ffffff;
}
/* -------------HERO */
.hero-title {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--color-white-color);
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
}
@media screen and (max-width: 333px) {
  .hero-title {
    font-size: 34px;
    line-height: calc(40 / 34);
  }
}
.hero {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 109px;
  text-align: center;
  background: var(--text-grey-color);
  background-image: var(--gra), url(../images/main-page/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra),
      url(../images/main-page/people-office-mob-2x.jpg);
  }
}
.section-two .section-three .section-four {
  background: #f4f4fd;
}
.button {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  margin-top: 80px;
  transition: background-color 250ms var(--cubic);
}
.button:hover,
.button:focus {
  background-color: var(--activ-color);
}
.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* --------------SECTION 2 */
.section-two-conteiner {
  max-width: 479px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}
.section-two-title {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40px / 36px);
  text-align: center;
  text-transform: capitalize;
  color: var(--text-grey-color);
  margin-bottom: 8px;
}
.section-two-text {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-text-none {
  display: none;
}
.section-two-item {
  min-width: 264px;
  margin-left: auto;
  margin-left: auto;
}
.section-two-item:not(:last-child) {
  margin-bottom: 72px;
}
.section-two-icon {
  display: none;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* --------------SECTION 3 */
.section-three {
  display: none;
}
.section-three-title {
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-grey-color);
  margin-bottom: 72px;
}
.section-three-flex {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.section-three-flex .item {
  display: flex;
}
.section-three-flex .item .link {
  width: 360px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2225.jpg);
  border: 1px solid #e7e9fc;
}
.section-three-flex .item .link + .link {
  margin-left: 24px;
}
/* --------------SECTION 4 */
.section-four {
  max-width: 480px;
  background: #f4f4fd;
}
.conteiner-four {
  padding-top: 96px;
  padding-bottom: 96px;
}
.item-style {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-bottom: 36px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-style:not(:last-child) {
  margin-bottom: 72px;
}
.section-four-title {
  display: block;
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-grey-color);
  margin-bottom: 72px;
}
.section-four-name {
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-grey-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 32px;
  margin-bottom: 8px;
}
.section-four-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 24);
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 12px;
}
.item-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-four-soc-item {
  width: 40px;
  height: 40px;
}
.section-four-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}
.section-four-icon {
  fill: #f4f4fd;
}
.section-four-soc-link:is(:hover, :focus) {
  background-color: var(--activ-color);
}
/* ------------CUSTOMERS */
.customers-conteiner {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}
.customers {
  max-width: 396px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 15px;
  padding-right: 15px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.customers-item {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: calc((100% - 16px) / 2);
}
.customers-item:nth-last-child(n + 3) {
  margin-bottom: 72px;
}
.customers-item:nth-child(odd) {
  margin-right: 16px;
}
.customers-link {
  height: 88px;
  border: 1px solid #8e8f99;
  color: #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--cubic);
}
.customers-icon {
  fill: currentColor;
  transition: fill 250ms var(--cubic);
}
.customers-link:is(:hover, :focus) {
  border-color: #4d5ae5;
  color: #4d5ae5;
}
.customers-link:is(:hover, :focus) .customers-icon {
  fill: #4d5ae5;
}
@media screen and (max-width: 428px) {
  .customers-link {
    width: 100%;
    height: 88px;
  }
}

/* ------------FOOTER */
.footer {
  background: var(--text-grey-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16em;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  text-decoration: none;
}
.footer-studio {
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}
.footer-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}
.footer-soc-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-box-one {
  width: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.conteiner-footer-two {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: calc((100%));
}
.footer-soc-item {
  width: 40px;
  height: 40px;
  display: block;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}
.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
/* ------------------FORM FOOTER-------- */
.subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscribe-title {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-menu {
  width: 100%;
}
.subscribe-lable {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-input {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: border-color 250ms var(--cubic), outline 250ms var(--cubic),
    background-color 250ms var(--cubic), color 250ms var(--cubic);
}
@media screen and (max-width: 479px) {
  .subscribe-input {
    width: 90%;
  }
}
.subscribe-input:focus {
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-color: #4d5ae5;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d5ae5;
  color: #ffffff;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 15px;
  width: 165px;
  height: 40px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color 250ms var(--cubic);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-btn:is(:hover, :focus) {
  background-color: var(--activ-color);
}
.subscribe-icon {
  fill: #ffffff;
  display: block;
  width: 24px;
  height: 20px;
}
/* ---------PORTFOLIO------------- */
/* ---------SECTION 1 */
.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
  box-shadow: 0 4px 4px 0;
}
.conteiner-portfolio {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  transition: backgrond 250ms var(--cubic), box-shadow 250ms var(--cubic),
    border-color 250ms var(--cubic);
}
.btn:hover,
.btn:focus {
  background: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
.portfolio-btn-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}
.portfolio-btn-text:hover,
.portfolio-btn-text:focus {
  background-color: var(--activ-color);
  color: #ffffff;
}
.portfolio-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  color: var(--text-grey-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.picture-box {
  display: flex;
  flex-wrap: wrap;
}
.box-text-wrap {
  position: relative;
  overflow: hidden;
}
.box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4f4;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  overflow: auto;
}
.picture-item {
  width: 360px;
  margin-bottom: 48px;
  flex-basis: calc((100% - 48px) / 3);
  margin-right: 24px;
  transition: box-shadow 250ms var(--cubic);
}
.picture-item:hover .box-text {
  transform: translateY(0);
}
.picture-item:nth-child(3n) {
  margin-right: 0;
}
.picture-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.picture-item > .link-text {
  width: 360px;
  margin: 0;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.picture-item:is(:hover, :focus) {
  display: block;
  box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-title-centered {
  text-align: center;
}
/* ----------MODAL--------- */
.backdrop {
  width: 100%;
  min-height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic),
    250ms var(--cubic);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--activ-color);
  fill: #ffffff;
  border: none;
}
.close-icon {
  width: 8px;
  height: 8px;
}
.modal-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 1.33;
  font-weight: 400;
  outline: transparent;
  transition: outline 250ms var(--cubic), border-color 250ms var(--cubic);
}
.modal-send-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  width: 169px;
  color: #fff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms var(--cubic);
}
.modal-send-btn:is(:hover, :focus) {
  background-color: var(--activ-color);
}
.modal-form-label {
  background: #fcfcfc;
  border-radius: 4px;
}
.modal-form-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-form-span {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  fill: #2e2f42;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic), outline 250ms var(--cubic);
}
.modal-form-icon:focus {
  fill: #4d5ae5;
  outline: none;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: outline 250ms var(--cubic), border-color 250ms var(--cubic);
  resize: none;
  margin-bottom: 16px;
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.check-text {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(16 / 8);
  color: #757575;
  display: flex;
}
.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: 24px;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms var(--cubic), border 250ms var(--cubic),
    fill 250ms var(--cubic);
}
.modal-form-check:checked + .check-text span {
  background-color: #4d5ae5;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
}
/* .check-text::before{
  content: '';
  width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
margin-right: 8px;
}
.modal-form-check:checked + .check-text::before{
  background-color: red;
  border: none;
} */

/* @media screen and (min-width: 428px) {
  .conteiner {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
} */
