@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    margin: 0 auto;
  }
  /* ------------------- HEADER---------------- --> */
  .header-list.current {
    color: #4d5ae5;
    position: relative;
  }
  .conteiner-header {
    width: 753px;
    margin-left: auto;
    margin-right: auto;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #4d5ae5;
    border-radius: 2px;
  }
  .header-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--text-grey-color);
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: color 250ms var(--cubic);
  }
  .header-list:hover,
  .header-list:focus {
    color: var(--activ-color);
  }
  .header-link {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #434455;
    font-style: normal;
    transition: color 250ms var(--cubic);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--activ-color);
  }
  .site-nav {
    display: flex;
  }
  .contacts {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
  .contacts > .link:not(:last-child) {
    margin-bottom: 4px;
    margin-right: 0;
  }
  .header {
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-flex {
    display: flex;
    justify-content: center;
  }
  .header-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-grey-color);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .site-nav {
    margin-left: 124px;
    margin-right: 117px;
  }
  /* ------------------- MODAL HEADER---------------- --> */
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  /* ------------------ HERO --------------------------> */
  .hero {
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--gra),
      url(../images/main-page/people-office-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gra),
        url(../images/main-page/people-office-desktop-2x.jpg);
    }
  }
  .hero-title {
    max-width: 492px;
    font-weight: 600;
    font-size: 55px;
    line-height: calc(60 / 55);
    margin-left: auto;
    margin-right: auto;
  }
  /* ----------------- Section2 ----------> */
  .section-two-conteiner {
    max-width: 736px;
  }
  .section-two-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-two-item {
    width: calc((100% - 24px) / 2);
  }
  .section-two-item:not(:last-child) {
    margin-bottom: 0;
  }
  .section-two-title {
    text-align: start;
  }
  /* ------------- Section3 -----------> */

  /* ------------- Section4 -----------> */
  .section-four {
    max-width: 1199px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-four-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 56px;
  }
  .item-style {
    width: 264px;
    margin-left: 0;
    margin-right: 0;
  }
  .item-style:not(:last-child) {
    margin-bottom: 0;
  }
  /* ---------- Customers ----------> */
  .customers-conteiner {
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
        padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .customers {
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;

  }
  .customers-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .customers-item {
    margin: 0;
    width: calc((100% - 48px) / 3);
  }
  .customers-item:nth-last-child(n + 3) {
    margin-bottom: 0;
  }
  .customers-item:nth-child(odd) {
    margin-right: 0;
  }

  .customers-item > .customers-link {
    width: 168px;
  }
  /* ------------ FOOTER ----------> */
  .footer {
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-tablet {
    width: 582px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    text-align: start;
  }
  .footer-box-one {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-studio {
    text-align: start;
  }
  .footer-soc-title {
    text-align: start;
  }
  .conteiner-footer-two {
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 0;
  }
  .subscribe-title {
    text-align: start;
  }
  .footer-form {
    display: block;
  }
  .subscribe-input {
    width: 264px;
  }
  .subscribe-menu {
    display: flex;
    gap: 24px;
  }
  .subscribe-icon {
    margin-left: 15px;
  }
  .subscribe-label {
    width: 264px;
  }
  /* ------------ Modal -----------> */
  .modal {
    width: 408px;
  }
  .check-text {
    font-size: 12px;
    line-height: calc(16 / 12);
  }
}
